In [ ]:
import pandas as pd

df = pd.read_csv('netflix_titles.csv', encoding='utf-8')

# to display the first 10 rows of the DataFrame
df.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...

In [ ]:
# to display the first 10 rows of the DataFrame
df.shape[0]

8807

In [ ]:
# To provide a summary of information about the DataFrame chipo. It provides useful information such as data types and number of missing values.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [ ]:
# To return the the number of rows and columns of the DataFrame.
df.shape

(8807, 12)

In [ ]:
# To return the number of columns in the dataset
df.shape[1]

12

In [ ]:
# To Print the name of all the columns.
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [29]:
# To return the index labels used in the DataFrame
df.index

RangeIndex(start=0, stop=8807, step=1)

In [30]:
# To return a two-dimensional NumPy array that contains the data stored in the DataFrame.
df.values

array([['s1', 'Movie', 'Dick Johnson Is Dead', ..., '90 min',
        'Documentaries',
        'As her father nears the end of his life, filmmaker Kirsten Johnson stages his death in inventive and comical ways to help them both face the inevitable.'],
       ['s2', 'TV Show', 'Blood & Water', ..., '2 Seasons',
        'International TV Shows, TV Dramas, TV Mysteries',
        'After crossing paths at a party, a Cape Town teen sets out to prove whether a private-school swimming star is her sister who was abducted at birth.'],
       ['s3', 'TV Show', 'Ganglands', ..., '1 Season',
        'Crime TV Shows, International TV Shows, TV Action & Adventure',
        'To protect his family from a powerful drug lord, skilled thief Mehdi and his expert team of robbers are pulled into a violent and deadly turf war.'],
       ...,
       ['s8805', 'Movie', 'Zombieland', ..., '88 min',
        'Comedies, Horror Movies',
        'Looking to survive in a world taken over by zombies, a dorky college student teams with an urban roughneck and a pair of grifter sisters.'],
       ['s8806', 'Movie', 'Zoom', ..., '88 min',
        'Children & Family Movies, Comedies',
        'Dragged from civilian life, a former superhero must train a new crop of youthful saviors when the military preps for an attack by a familiar villain.'],
       ['s8807', 'Movie', 'Zubaan', ..., '111 min',
        'Dramas, International Movies, Music & Musicals',
        "A scrappy but poor boy worms his way into a tycoon's dysfunctional family, while facing his fear of music and the truth about his past."]],
      shape=(8807, 12), dtype=object)

In [31]:
# Get data types of multiple columns
column_data_types = df.dtypes
print(column_data_types)

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [32]:
# Get data type of a single column
column_data_type = df["type"].dtype
print(column_data_type)

object

In [35]:
# df is the name of the dataframe
# sort_values sorts the item in ascending order based on the column item_price
df.sort_values("release_year")

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4250,s4251,TV Show,Pioneers: First Women Filmmakers*,NaN,NaN,NaN,"December 30, 2018",1925,TV-14,1 Season,TV Shows,This collection restores films from women who ...
7790,s7791,Movie,Prelude to War,Frank Capra,NaN,United States,"March 31, 2017",1942,TV-14,52 min,"Classic Movies, Documentaries",Frank Capra's documentary chronicles the rise ...
8205,s8206,Movie,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell",United States,"March 31, 2017",1942,TV-14,18 min,"Classic Movies, Documentaries",Director John Ford captures combat footage of ...
8739,s8740,Movie,Why We Fight: The Battle of Russia,"Frank Capra, Anatole Litvak",NaN,United States,"March 31, 2017",1943,TV-PG,82 min,Documentaries,This installment of Frank Capra's acclaimed do...
8763,s8764,Movie,WWII: Report from the Aleutians,John Huston,NaN,United States,"March 31, 2017",1943,TV-PG,45 min,Documentaries,Filmmaker John Huston narrates this Oscar-nomi...
...,...,...,...,...,...,...,...,...,...,...,...,...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
18,s19,Movie,Intrusion,Adam Salky,"Freida Pinto, Logan Marshall-Green, Robert Joh...",NaN,"September 22, 2021",2021,TV-14,94 min,Thrillers,After a deadly home invasion at a couple’s new...
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
68,s69,Movie,Schumacher,"Hanns-Bruno Kammertöns, Vanessa Nöcker, Michae...",Michael Schumacher,NaN,"September 15, 2021",2021,TV-14,113 min,"Documentaries, International Movies, Sports Mo...",Through exclusive interviews and archival foot...

In [36]:
# Sorting in Descending Order
df.sort_values("release_year", ascending=False)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
31,s32,TV Show,Chicago Party Aunt,NaN,"Lauren Ash, Rory O'Malley, RuPaul Charles, Jil...",NaN,"September 17, 2021",2021,TV-MA,1 Season,TV Comedies,Chicago Party Aunt Diane is an idolized troubl...
30,s31,Movie,Ankahi Kahaniya,"Ashwiny Iyer Tiwari, Abhishek Chaubey, Saket C...","Abhishek Banerjee, Rinku Rajguru, Delzad Hiwal...",NaN,"September 17, 2021",2021,TV-14,111 min,"Dramas, Independent Movies, International Movies","As big city life buzzes around them, lonely so..."
...,...,...,...,...,...,...,...,...,...,...,...,...
8739,s8740,Movie,Why We Fight: The Battle of Russia,"Frank Capra, Anatole Litvak",NaN,United States,"March 31, 2017",1943,TV-PG,82 min,Documentaries,This installment of Frank Capra's acclaimed do...
8660,s8661,Movie,Undercover: How to Operate Behind Enemy Lines,John Ford,NaN,United States,"March 31, 2017",1943,TV-PG,61 min,"Classic Movies, Documentaries",This World War II-era training film dramatizes...
7790,s7791,Movie,Prelude to War,Frank Capra,NaN,United States,"March 31, 2017",1942,TV-14,52 min,"Classic Movies, Documentaries",Frank Capra's documentary chronicles the rise ...
8205,s8206,Movie,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell",United States,"March 31, 2017",1942,TV-14,18 min,"Classic Movies, Documentaries",Director John Ford captures combat footage of ...
4250,s4251,TV Show,Pioneers: First Women Filmmakers*,NaN,NaN,NaN,"December 30, 2018",1925,TV-14,1 Season,TV Shows,This collection restores films from women who ...

In [37]:
# sorting by multiple columns
df.sort_values(["release_year", "date_added"])

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4250,s4251,TV Show,Pioneers: First Women Filmmakers*,NaN,NaN,NaN,"December 30, 2018",1925,TV-14,1 Season,TV Shows,This collection restores films from women who ...
7790,s7791,Movie,Prelude to War,Frank Capra,NaN,United States,"March 31, 2017",1942,TV-14,52 min,"Classic Movies, Documentaries",Frank Capra's documentary chronicles the rise ...
8205,s8206,Movie,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell",United States,"March 31, 2017",1942,TV-14,18 min,"Classic Movies, Documentaries",Director John Ford captures combat footage of ...
8660,s8661,Movie,Undercover: How to Operate Behind Enemy Lines,John Ford,NaN,United States,"March 31, 2017",1943,TV-PG,61 min,"Classic Movies, Documentaries",This World War II-era training film dramatizes...
8739,s8740,Movie,Why We Fight: The Battle of Russia,"Frank Capra, Anatole Litvak",NaN,United States,"March 31, 2017",1943,TV-PG,82 min,Documentaries,This installment of Frank Capra's acclaimed do...
...,...,...,...,...,...,...,...,...,...,...,...,...
92,s93,TV Show,Into the Night,NaN,"Pauline Etienne, Laurent Capelluto, Stefano Ca...",Belgium,"September 8, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries",Passengers and crew aboard a hijacked overnigh...
93,s94,Movie,JJ+E,Alexis Almström,"Elsa Öhrn, Mustapha Aarab, Jonay Pineda Skalla...",NaN,"September 8, 2021",2021,TV-MA,91 min,"Dramas, International Movies, Romantic Movies","Elisabeth and John-John live in the same city,..."
95,s96,TV Show,The Circle,NaN,Michelle Buteau,"United States, United Kingdom","September 8, 2021",2021,TV-MA,3 Seasons,Reality TV,Status and strategy collide in this social exp...
88,s89,Movie,Blood Brothers: Malcolm X & Muhammad Ali,Marcus Clarke,"Malcolm X, Muhammad Ali",NaN,"September 9, 2021",2021,PG-13,96 min,"Documentaries, Sports Movies","From a chance meeting to a tragic fallout, Mal..."
91,s92,Movie,The Women and the Murderer,"Mona Achache, Patricia Tourancheau",NaN,France,"September 9, 2021",2021,TV-14,92 min,"Documentaries, International Movies",This documentary traces the capture of serial ...

In [39]:
# sorting by multiple columns : first ascending and then in descending order
df.sort_values(["release_year", "date_added"], ascending=[True, False])

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4250,s4251,TV Show,Pioneers: First Women Filmmakers*,NaN,NaN,NaN,"December 30, 2018",1925,TV-14,1 Season,TV Shows,This collection restores films from women who ...
7790,s7791,Movie,Prelude to War,Frank Capra,NaN,United States,"March 31, 2017",1942,TV-14,52 min,"Classic Movies, Documentaries",Frank Capra's documentary chronicles the rise ...
8205,s8206,Movie,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell",United States,"March 31, 2017",1942,TV-14,18 min,"Classic Movies, Documentaries",Director John Ford captures combat footage of ...
8660,s8661,Movie,Undercover: How to Operate Behind Enemy Lines,John Ford,NaN,United States,"March 31, 2017",1943,TV-PG,61 min,"Classic Movies, Documentaries",This World War II-era training film dramatizes...
8739,s8740,Movie,Why We Fight: The Battle of Russia,"Frank Capra, Anatole Litvak",NaN,United States,"March 31, 2017",1943,TV-PG,82 min,Documentaries,This installment of Frank Capra's acclaimed do...
...,...,...,...,...,...,...,...,...,...,...,...,...
1082,s1083,TV Show,Don't be the First one,NaN,"Park Mi-sun, Jang Do-youn",NaN,"April 11, 2021",2021,TV-14,1 Season,"International TV Shows, Reality TV",Is marriage just better between funny people? ...
1123,s1124,TV Show,Magical Andes,NaN,NaN,"Uruguay, Germany","April 1, 2021",2021,TV-G,2 Seasons,"Docuseries, International TV Shows, Science & ...","From Argentina to Colombia, this stunning docu..."
1127,s1128,TV Show,Prank Encounters,NaN,Gaten Matarazzo,United States,"April 1, 2021",2021,TV-MA,2 Seasons,"Reality TV, TV Comedies, TV Horror",Monstrous frights meet hilarious reveals on th...
1136,s1137,Movie,Tersanjung the Movie,"Hanung Bramantyo, Pandu Adjisurya","Clara Bernadeth, Giorgino Abraham, Kevin Ardil...",Indonesia,"April 1, 2021",2021,TV-14,114 min,"Dramas, International Movies, Romantic Movies","After growing up in a tumultuous household, Yu..."
1143,s1144,TV Show,Worn Stories,NaN,NaN,United States,"April 1, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","In this funny, heartfelt and moving docuseries..."

In [40]:
# selecting a single column called release_year
subset_df = df["release_year"]
print(subset_df)

0       2020
1       2021
2       2021
3       2021
4       2021
        ...
8802    2007
8803    2018
8804    2009
8805    2006
8806    2015
Name: release_year, Length: 8807, dtype: int64

In [41]:
# selecting multiple columns
subset_df1 = df[["release_year", "date_added", "director"]]
print(subset_df1)

      release_year          date_added         director
0             2020  September 25, 2021  Kirsten Johnson
1             2021  September 24, 2021              NaN
2             2021  September 24, 2021  Julien Leclercq
3             2021  September 24, 2021              NaN
4             2021  September 24, 2021              NaN
...            ...                 ...              ...
8802          2007   November 20, 2019    David Fincher
8803          2018        July 1, 2019              NaN
8804          2009    November 1, 2019  Ruben Fleischer
8805          2006    January 11, 2020     Peter Hewitt
8806          2015       March 2, 2019      Mozez Singh

[8807 rows x 3 columns]

In [45]:
# getting items whose release_year is greater than 2020 (make sure the column's data type is integer)
subset_df = df[df['release_year'] > 2020]
print(subset_df)

     show_id     type                      title         director  \
1         s2  TV Show              Blood & Water              NaN
2         s3  TV Show                  Ganglands  Julien Leclercq
3         s4  TV Show      Jailbirds New Orleans              NaN
4         s5  TV Show               Kota Factory              NaN
5         s6  TV Show              Midnight Mass    Mike Flanagan
...      ...      ...                        ...              ...
1468   s1469    Movie  What Happened to Mr. Cha?     Kim Dong-kyu
1551   s1552  TV Show                      Hilda              NaN
1696   s1697  TV Show               Polly Pocket              NaN
2920   s2921  TV Show              Love Is Blind              NaN
8437   s8438  TV Show     The Netflix Afterparty              NaN

                                                   cast  \
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3                                                   NaN
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
5     Kate Siegel, Zach Gilford, Hamish Linklater, H...
...                                                 ...
1468           Cha In-pyo, Cho Dal-hwan, Song Jae-ryong
1551  Bella Ramsey, Ameerah Falzon-Ojo, Oliver Nelso...
1696  Emily Tennant, Shannon Chan-Kent, Kazumi Evans...
2920                        Nick Lachey, Vanessa Lachey
8437       David Spade, London Hughes, Fortune Feimster

                                    country          date_added  release_year  \
1                              South Africa  September 24, 2021          2021
2                                       NaN  September 24, 2021          2021
3                                       NaN  September 24, 2021          2021
4                                     India  September 24, 2021          2021
5                                       NaN  September 24, 2021          2021
...                                     ...                 ...           ...
1468                            South Korea     January 1, 2021          2021
1551  United Kingdom, Canada, United States   December 14, 2020          2021
1696         Canada, United States, Ireland   November 15, 2020          2021
2920                          United States   February 13, 2020          2021
8437                          United States     January 2, 2021          2021

     rating   duration                                          listed_in  \
1     TV-MA  2 Seasons    International TV Shows, TV Dramas, TV Mysteries
2     TV-MA   1 Season  Crime TV Shows, International TV Shows, TV Act...
3     TV-MA   1 Season                             Docuseries, Reality TV
4     TV-MA  2 Seasons  International TV Shows, Romantic TV Shows, TV ...
5     TV-MA   1 Season                 TV Dramas, TV Horror, TV Mysteries
...     ...        ...                                                ...
1468  TV-MA    102 min                     Comedies, International Movies
1551  TV-Y7  2 Seasons                                           Kids' TV
1696   TV-Y  2 Seasons                                           Kids' TV
2920  TV-MA   1 Season                      Reality TV, Romantic TV Shows
8437  TV-MA   1 Season          Stand-Up Comedy & Talk Shows, TV Comedies

                                            description
1     After crossing paths at a party, a Cape Town t...
2     To protect his family from a powerful drug lor...
3     Feuds, flirtations and toilet talk go down amo...
4     In a city of coaching centers known to train I...
5     The arrival of a charismatic young priest brin...
...                                                 ...
1468  With the peak of his career long behind him, a...
1551  Fearless, free-spirited Hilda finds new friend...
1696  After uncovering a magical locket that allows ...
2920  Nick and Vanessa Lachey host this social exper...
8437  Hosts David Spade, Fortune Feimster and London...

[592 rows x 12 columns]

In [49]:
# subsetting based on text data
subset_df = df[df['director'] == "Quentin Tarantino"]
print(subset_df)

     show_id     type                                title           director  \
392     s393    Movie                     Django Unchained  Quentin Tarantino
3893   s3894  TV Show  The Hateful Eight: Extended Version  Quentin Tarantino
5203   s5204    Movie                    The Hateful Eight  Quentin Tarantino
7077   s7078    Movie                 Inglourious Basterds  Quentin Tarantino
7113   s7114    Movie                         Jackie Brown  Quentin Tarantino
7197   s7198    Movie                    Kill Bill: Vol. 1  Quentin Tarantino
7198   s7199    Movie                    Kill Bill: Vol. 2  Quentin Tarantino
7802   s7803    Movie                         Pulp Fiction  Quentin Tarantino

                                                   cast  \
392   Jamie Foxx, Christoph Waltz, Leonardo DiCaprio...
3893  Samuel L. Jackson, Kurt Russell, Jennifer Jaso...
5203  Samuel L. Jackson, Kurt Russell, Jennifer Jaso...
7077  Brad Pitt, Mélanie Laurent, Christoph Waltz, E...
7113  Pam Grier, Samuel L. Jackson, Robert Forster, ...
7197  Uma Thurman, Lucy Liu, Vivica A. Fox, Daryl Ha...
7198  Uma Thurman, David Carradine, Michael Madsen, ...
7802  John Travolta, Samuel L. Jackson, Uma Thurman,...

                     country        date_added  release_year rating  duration  \
392            United States     July 24, 2021          2012      R   165 min
3893                     NaN    April 25, 2019          2015      R  1 Season
5203           United States  October 25, 2017          2015      R   168 min
7077  Germany, United States     July 22, 2019          2009      R   153 min
7113           United States    August 1, 2019          1997      R   154 min
7197    United States, Japan   January 1, 2020          2003      R   111 min
7198           United States   January 1, 2020          2004      R   137 min
7802           United States   January 1, 2019          1994      R   154 min

                                listed_in  \
392            Action & Adventure, Dramas
3893                             TV Shows
5203        Action & Adventure, Thrillers
7077                   Action & Adventure
7113                    Dramas, Thrillers
7197                   Action & Adventure
7198                   Action & Adventure
7802  Classic Movies, Cult Movies, Dramas

                                            description
392   Accompanied by a German bounty hunter, a freed...
3893  Trapped at a stagecoach stop as a storm rages ...
5203  Years after the Civil War, a bounty hunter and...
7077  A Jewish cinema owner in occupied Paris is for...
7113  When an aging flight attendant's caught smuggl...
7197  An assassin is shot by her ruthless employer, ...
7198  The Bride has three left on her rampage list: ...
7802  This stylized crime caper weaves together stor...

In [54]:
# subsetting with mulitple conditions
subset_df1 = df['release_year'] > 2010
subset_df2 = df['director'] == "Quentin Tarantino"
subset_df3 = df[subset_df1 & subset_df2]
subset_df3.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
392,s393,Movie,Django Unchained,Quentin Tarantino,"Jamie Foxx, Christoph Waltz, Leonardo DiCaprio...",United States,"July 24, 2021",2012,R,165 min,"Action & Adventure, Dramas","Accompanied by a German bounty hunter, a freed..."
3893,s3894,TV Show,The Hateful Eight: Extended Version,Quentin Tarantino,"Samuel L. Jackson, Kurt Russell, Jennifer Jaso...",NaN,"April 25, 2019",2015,R,1 Season,TV Shows,Trapped at a stagecoach stop as a storm rages ...
5203,s5204,Movie,The Hateful Eight,Quentin Tarantino,"Samuel L. Jackson, Kurt Russell, Jennifer Jaso...",United States,"October 25, 2017",2015,R,168 min,"Action & Adventure, Thrillers","Years after the Civil War, a bounty hunter and..."

In [56]:
# first lets create a function to define the release year range
def categorize_release_year(release_year):
    if release_year < 2000:
        return "Vanha"
    elif release_year < 2020:
        return "Ei niin vanha"
    else:
        return "Uusi"
    
# We can use the .apply() method to create a new column 'release_year_group' based on the 'release_year' column.
df['release_year_group'] = df['release_year'].apply(categorize_release_year)
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,release_year_group
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Uusi
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",Uusi
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,Uusi
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",Uusi
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,Uusi